# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
out/
_releasenotes
_artifacts/

# E2E test templates
test/e2e/data/infrastructure-docker/cluster-template*.yaml